/build


#build-pkg/deb/debian
/build-pkg/deb/debian
##!/build-pkg/deb/debian-template-et1500

#build-pkg/rpm
/build-pkg/rpm/*
!/build-pkg/rpm/Makefile
!/build-pkg/rpm/sf_plugins.spec

#build-pkg/
/build-pkg/build-native
/build-pkg/install-native

#rest
/rest/build
/rest/dist
/rest/__pycache__
/rest/*.spec

#auto-test
/auto-test/result/*
/auto-test/__pycache__

#sf_cli
/sf_cli/build
/sf_cli/dist

**/__pycache__
**/*.swp

#release
/release/build